 {% load static %}
 <!DOCTYPE html>
 <html lang="en">

 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Wackey Widgets</title>
   <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

 </head>

 <body>
   <h1>Wackey Widgets</h1>
   {% if widget_list|length == 0 %}
   <h3>No Widgets Exist</h3>
   {% else %}
   {% for widget in Widgets_list.all %}
   <table class='pure-table pure-table-striped'>
     <thead>
       <tr>
         <th>Description</th>
         <th>Quantity</th>
         <th>Delete</th>
       </tr>
     </thead>
     <tr>
       <td>{{widget.description}}</td>
       <td>{{widget.Quantity}}</td>
       <td><a>X</a></td>
     </tr>
   </table>

   {% endfor %}
   {% endif %}
   <hr>

 </body>

 </html>